
    <% flash.each do |key,value| %>
            <div class="alert-dismissible <%= flash_class(key) %>" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
            <%= value %>
         </div>
    <% end %>
